**DATA TYPES AND** **STRUCTURES**

1. What are data structures, and why are they important
- Data structures are specialized formats to store , access and organize data , they provide efficient ways to manage information.
they are important because chosing right data types impacts the efficiency and performance of program.Simplify data manipulation and optimize searching and sorting.

2.  Explain the difference between mutable and immutable data types with examples ?
- Data types which we can change or modify after their creation are matable data types where as certain data types like strings and tuples we cannot modify them after their creation are called immutable data types.

3. What are the main differences between lists and tuples in Python ?
-  Lists are mutable and tuples are immutable data types.

4. Describe how dictionaries store data ?
- Dictionaries store data in key value pair where every key is assigned with a corresponding value.

5.  Why might you use a set instead of a list in Python ?
- If we don't want repetations of iteams/elements we use set becacuse to get unique elements.

6. What is a string in Python, and how is it different from a list ?
- String in python is a data type.string is immutable where as list is mutable data type.

7.  How do tuples ensure data integrity in Python ?
- Tuples are immutable we cannot change/modify once we define them.

8. What is a hash table, and how does it relate to dictionaries in Python ?
- In dictionaries key value pairs , hash function converts key into an integer to determine index where value is stored.

9. Can lists contain different data types in Python ?
- Yes, lists can contain different data types like strings, tuples, integers.
        a=[(1,2,3),{4,5},"Shiva"]

10.  Explain why strings are immutable in Python ?
- Python uses a technique called string interning where identical strings are stored only once in memory to save space . If strings are mutable change of one would effect all cause unpredicitable behaviour.

11. What advantages do dictionaries offer over lists for certain tasks?
- We can store data in key value pairs which is easy to access values using keys and dictionaries more readable than lists and more opperations we can perform

12. Describe a scenario where using a tuple would be preferable over a list
- If you want to store the data which you don't want to change it again like company employes id we can use tuple over lists because of its immutabality.

13. How do sets handle duplicate values in Python?
- Sets in python are unique if we add same elements multiple times it will take only once.

14. How does the “in” keyword work differently for lists and dictionaries?
- "in" is used to identify elements in both but in lists "in" is used to check a specific value present as an element in list or not.
where as in dictionary "in" is used to check whether a specific value is exists as a key in dictionary,not as a  value.

15. Can you modify the elements of a tuple? Explain why or why not?
- No we can't because tuple is immutable, and it stores same type of data in a single memory address if we change a one other will also change.

16. What is a nested dictionary, and give an example of its use case?
- Nested dictionary is a dictionary in python where values are also dictionaries , each key value of outer dictionary points to a dictionary. It is useful to store complex data. Like outer dictionary key is student name and corresponding value is a dictionary which stores age, grade, id details of that particulalr student.

17. Describe the time complexity of accessing elements in a dictionary?
- O(1)

18. In what situations are lists preferred over dictionaries?
- If you want ordered or sequential data like ["wake up", "brush" ,"exercise", "bath"] , for small data and index access if you want to access elements by index.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Elements are not stored in specific order , each key acts as unique indefier for retriving an associated value.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- in list we can access elements using index where as in dictionary we use keys as index to access elements.

In [1]:
#1  Write a code to create a string with your name and print it

str1= "Shashi"
print(str1)

Shashi

In [2]:
#2  Write a code to find the length of the string "Hello World"

str = "Hello World"
print(len(str))

11

In [3]:
#3  Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
print(str[:3])

Pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercase
str1 = "hello"
print((str1.upper)())

HELLO

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
str2= "I like apple"
print(str2.replace("apple","orange"))

I like orange

In [6]:
#6 Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#7  Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list =['a', 'b', 'c', 'd']
print(list[1])

b

In [19]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50]
list1 = [10, 20, 30, 40, 50]
length = len(list) - 1
rev_list=[]
for i in range(length,-1,-1):
  rev_list.append(list1[i])
print(rev_list)

[50, 40, 30, 20, 10]

In [20]:
#11 Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10,20,30)
print(t)

(10, 20, 30)

In [23]:
#12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple1 = ('apple', 'banana', 'cherry')
print(tuple1[0])

apple

In [27]:
#13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple =(1, 2, 3, 2, 4, 2)
l = len(tuple)
count=0
for i in range(l):
  if tuple[i]==2:
   count+=1
print(count)

3

In [29]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
print(a.index("cat"))

1

In [30]:
#15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [31]:
#16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1,2,3,4,5,}
print(set)

{1, 2, 3, 4, 5}

In [32]:
#17 Write a code to add the element 6 to the set {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

In [36]:
#18 Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple = (10,20,30)
print(tuple)

(10, 20, 30)